version: '3.8'

services:
  
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "%uuuuiiiPPPPCCC555555555"
    ports:
      - "1401:1433"
    networks:
      - net

  web:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - sqlserver
    ports:
      - "8080:80"
    networks:
      - net

networks:
  net: